.app {
  font-family: sans-serif;
}

.nav {
  display: flex;
  background-color: #10069F;
  width: 100%;
  border-bottom: 2px solid #10069F;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: 2rem;
}

.nav-link {
  cursor: pointer;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-link.active {
  border-bottom: 2px solid #FFD700;
  color: #FFD700;
}

.content {
  padding: 1rem;
}
